In [1]:
# import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# load dataset
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

In [4]:
# it seems our first dataset has some unnamed blank columns
cars1 = cars1.iloc[:, :9]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [5]:
# what is the number of observation in each dataset?
# car1 shape
cars1.shape[0]

198

In [6]:
# car2 shape
cars2.shape[0]

200

In [8]:
# join cars1 and cars2 into a single dataframe called cars
cars = pd.merge(cars1, cars2, on='mpg', how='inner')
cars.head()

,mpg,cylinders_x,displacement_x,horsepower_x,weight_x,acceleration_x,model_x,origin_x,car_x,cylinders_y,displacement_y,horsepower_y,weight_y,acceleration_y,model_y,origin_y,car_y
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,6,250,78,3574,21.0,76,1,ford granada ghia
1,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,6,250,78,3574,21.0,76,1,ford granada ghia
2,18.0,6,199,97,2774,15.5,70,1,amc hornet,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.0,6,232,100,3288,15.5,71,1,amc matador,6,250,78,3574,21.0,76,1,ford granada ghia
4,18.0,6,258,110,2962,13.5,71,1,amc hornet sportabout (sw),6,250,78,3574,21.0,76,1,ford granada ghia

In [9]:
# creating a new column called owners by create a random number Series from 15,000 to 73,000
owner_column = np.random.randint(low=15000, high=73000, size=(344, 1))

In [10]:
# adding it to the new dataframe
cars['owners'] = owner_column
cars.head(20)

,mpg,cylinders_x,displacement_x,horsepower_x,weight_x,acceleration_x,model_x,origin_x,car_x,cylinders_y,displacement_y,horsepower_y,weight_y,acceleration_y,model_y,origin_y,car_y,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,6,250,78,3574,21.0,76,1,ford granada ghia,43905
1,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,6,250,78,3574,21.0,76,1,ford granada ghia,60112
2,18.0,6,199,97,2774,15.5,70,1,amc hornet,6,250,78,3574,21.0,76,1,ford granada ghia,63779
3,18.0,6,232,100,3288,15.5,71,1,amc matador,6,250,78,3574,21.0,76,1,ford granada ghia,67722
4,18.0,6,258,110,2962,13.5,71,1,amc hornet sportabout (sw),6,250,78,3574,21.0,76,1,ford granada ghia,59008
5,18.0,6,250,88,3139,14.5,71,1,ford mustang,6,250,78,3574,21.0,76,1,ford granada ghia,26242
6,18.0,4,121,112,2933,14.5,72,2,volvo 145e (sw),6,250,78,3574,21.0,76,1,ford granada ghia,57745
7,18.0,6,225,105,3121,16.5,73,1,plymouth valiant,6,250,78,3574,21.0,76,1,ford granada ghia,43783
8,18.0,6,232,100,2945,16.0,73,1,amc hornet,6,250,78,3574,21.0,76,1,ford granada ghia,24426
9,18.0,6,250,88,3021,16.5,73,1,ford maverick,6,250,78,3574,21.0,76,1,ford granada ghia,64363
10,18.0,6,232,100,2789,15.0,73,1,amc gremlin,6,250,78,3574,21.0,76,1,ford granada ghia,30508
11,18.0,3,70,90,2124,13.5,73,3,maxda rx3,6,250,78,3574,21.0,76,1,ford granada ghia,23970
12,18.0,6,225,105,3613,16.5,74,1,plymouth satellite sebring,6,250,78,3574,21.0,76,1,ford granada ghia,64386
13,18.0,6,250,105,3459,16.0,75,1,chevrolet nova,6,250,78,3574,21.0,76,1,ford granada ghia,40184
14,18.0,6,225,95,3785,19.0,75,1,plymouth fury,6,250,78,3574,21.0,76,1,ford granada ghia,52074
15,18.0,6,171,97,2984,14.5,75,1,ford pinto,6,250,78,3574,21.0,76,1,ford granada ghia,60593
16,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,8,302,130,4295,14.9,77,1,mercury cougar brougham,70373
17,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,8,302,130,4295,14.9,77,1,mercury cougar brougham,22664
18,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,8,302,130,4295,14.9,77,1,mercury cougar brougham,53286
19,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,8,302,130,4295,14.9,77,1,mercury cougar brougham,57611